body {
  background-color: #39ac73;
  width: 100%;
  height: 100%;
}

.board {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 493px;
  background-color: #3d5c5c;
  border-radius: 15px;
}

.buttons {
  display: none; 
  margin: 15px auto 10px -4px;
  height: 500px;
  width: 500px;
}

.ask {
  font: 100px "Fredoka One", sans-serif;
  color: #39ac73;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 493px;
  background-color: #3d5c5c;
  border-radius: 15px;
}

.end {
  display: none; 
  font: 120px "Fredoka One", sans-serif;
  color: #39ac73;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 493px;
  background-color: #3d5c5c;
  border-radius: 15px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.x, .x:focus, .x:active, .x:hover {
  color: #ff4d4d;
}

.o, .o:focus, .o:active, .o:hover {
  color: #ffffff;
}

#x {
  color: #ff4d4d;
  font: 120px "Fredoka One", sans-serif;
}

#o {
  color: #e6e6e6;
  font: 120px "Fredoka One", sans-serif;
}

.btn {
  margin: 8px; 
  width: 135px;
  height: 135px;
  border-radius: 10px;
  background-color: #bfbfbf;
  font: 100px "Fredoka One", sans-serif;
  line-height: 0.7 !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

.fa {
  color: #666666;
  padding: 10px;
}

.fa:focus, .fa:active {
  color: white;
}

#reset {
  text-align: right;
  margin-top: 25px;
  margin-right: 5px;
}
